<%- include("header") -%>

<h2>About</h2>

<p>
  Express App, Dynamic Routing, you can create your own todo List, after the
  link write / then your own todo list, then you have your own customized todo
  list and it stores data on MongoDB Atlas.
</p>

<%- include("footer") -%>
